body {
  width: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 2vw;
}

h4, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.left-side {
  background-color: rgb(60, 69, 70);
  color: white;
  box-shadow: 3px 0 10px rgba(60, 69, 70, 0.42);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic {
  font-size: 2.3vw;
  border: 2px solid;
  width: 80%;
  font-weight: 400;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.photo {
  width: 30%;
  height: 0;
  padding: 15% 0;
  margin: 3% 0;
  border-radius: 50%;
  background-color: rgb(87, 98, 99);
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo > img {
  width: 95%;
  height: auto;
  border-radius: 50%;
}
.photo > span {
  text-align: center;
  font-size: 4vw;
  color: rgb(212, 212, 212);
}

.name-bar {
  /* text-align: center; */
}
.name-line {
  margin: 0;
}
.name-line, .topic {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5vw;
  font-family: Arial;
}

.skills-bar, .contact-bar{
  width: 70%;
}
.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress-bar {
  width: 30%;
  height: .8vw;
  border: 1px solid white;
  background-color: inherite;
  position: relative;
}
.progress-line {
  display: block;
  height: 100%;
  width: 15%;
  background: white;
  position: relative;
  overflow: hidden;
}




.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-bar {
  text-align: center;
}
.item:not(:last-child) {
  margin-bottom: 12px;
}
.item :nth-child(2) {
  font-style: italic;
}

.education-and-coureses-bar {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.education, .courses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.knowledge-bar {
  width: 80%;
}
.knowledge-h3 {
  width: 100%;
}
p.item {
  font-weight: bold;
  text-align: center;
}
.interests-bar {
  font-style: italic;
  margin-bottom: 1%;
}


.file-pick {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
  font-size: 2.1vw;
  /* flex: 10%; */
}

input[type="file"] {
  display: none;
}
.file-upload {
  text-align: center;
  border: 1px solid #b6b6b6;
  color: #b6b6b6;
  display: inline-block;
  padding: 6px;
  width: 40%;
  cursor: pointer;
}
#testData {
  border: 1px solid #b6b6b6;
  margin-left: 10px;
  padding: 6px;
  background-color: inherit;
  color: #b6b6b6;
  min-width: 17vw;
}


@media screen and (min-width: 768px) {
  html, body { height: 100%; }
  body { display: flex; font-size: .9vw;}
  .left-side { width: 20%; }
  .info { height: 90%; width: 100%; }
  .topic { font-size: 1.2vw; }
  .photo { width: 50%; padding: 25% 0; }
  .photo > span { font-size: 2vmin;}
  .progress-bar { height: 0.6vw; width: 50%;}

  .file-pick { font-size: 1vw;}
  #testData { min-width: 8vw;}

  .right-side { width: 80%; }
  .knowledge-bar, .languages, .computer  { display: flex; }
  .knowledge-bar {justify-content: space-between;}
  .languages, .computer {width: 40%; flex-direction: column; }
  .languages { align-items: flex-start; }
  .computer { align-items: flex-end; }
  .list { width: 100%;   }
  p.item {text-align: left;}
  .l-item { padding-left: 1vw; }
}







/* body {
  display: flex;
  flex-direction: row;
  height: 100%;
  font-family: Helvetica, sans-serif;
  font-size: 1vmax;
}

* {
  box-sizing: border-box;
}

.left-side {
  display:flex;
  flex-direction: column;
  flex: 30%;
  height: 100vh;
  background-color: rgb(60, 69, 70);
  color: white;
  box-shadow: 3px 0 10px rgba(60, 69, 70, 0.42);

  min-height: 550px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 90%;
}

.file-pick {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
  font-size: 1vmax;
  flex: 10%;
}

input[type="file"] {
  display: none;
}
.file-upload {
  text-align: center;
  border: 1px solid #b6b6b6;
  color: #b6b6b6;
  display: inline-block;
  padding: 6px;
  width: 40%;
  cursor: pointer;
}
#testData {
  border: 1px solid #b6b6b6;
  margin-left: 10px;
  padding: 6px;
  background-color: inherit;
  color: #b6b6b6;
  min-width: 110px;
}

.photo {
  margin: 5% 0 5%;
  width: 32%;
  height: 0;
  padding: 16% 0;
  border-radius: 50%;
  background-color: rgb(87, 98, 99);
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo > img {
  width: 95%;
  height: auto;
  border-radius: 50%;
}
.photo > span {
  text-align: center;
  font-size: 2.5vmax;
  color: rgb(212, 212, 212);
}

.name-line {
  font-size: 2.2vmax;
  margin: 0;
}
.name-line, .topic {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Arial;
}

.contact-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.skills-bar, .contact-bar{
  width: 70%;
}
.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 10vmax;
  height: .75vmax;
  border: 1px solid white;
  background-color: inherite;
  position: relative;
}
.progress-line {
  display: block;
  height: 100%;
  width: 15%;
  background: white;
  position: relative;
  overflow: hidden;
}

.topic {
  font-size: 1vmax;
  margin-bottom: 2vh;
  border: 2px solid;
  width: 80%;
  padding: 5px;
  font-weight: 400;
}

h4, p {
  margin: 0;
  padding: 0;
}






.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 70%;
  height: 100%;
}

.bar {
  margin-left: 10%;
}

.experience-bar, .education-and-coureses-bar, .interests-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-item {
  text-align: center;
  margin-bottom: 12px;
}
.item {
  margin-bottom: 12px;
}
.item :nth-child(2) {
  font-style: italic;
}

.education-and-coureses-bar {
  flex-direction: row;
  justify-content: space-around;
}
.education, .courses {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

.knowledge-bar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.languages, .computer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10%;
}

.computer-list > p, .languages-list > p {
  margin-left: 10px;
  font-weight: bold;
}

.knowledge-h3 {
  width: 75%;
}

.interests-bar {
  font-style: italic;
}


@media screen and (max-width: 768px) {
    body {
      flex-direction: column;
      font-size: 1.8vmax;
    }
    .contact-bar {
      width: 50%;
    }
    .left-side, .right-side {
      flex: 50%;
    }
    .skills-bar {
      width: 50%;
    }
    .name-line {
      font-size: 2.8vmax;
    }
    .file-pick {
      font-size: 1.9vmax;
    }
    .topic {
      font-size: 2vmax;
    }
    .knowledge-bar {
      flex-direction: column;
      align-items: center;
    }
    .languages, .computer {
      width: 100%;
    }
    .knowledge-h3 {
      width: 80%;
      margin-left: 5%;
    }
    .languages-list, .computer-list {
      margin-left: -10%;
      text-align: center;

    }
} */
